body {
    
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }

  .jobs {
    margin: 20px;
  }
  
  .jobs h2 {
    margin-bottom: 10px;
  }
  .jobs li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .jobs h3 {
    margin-top: 0;
  }

  .apply-form {
    margin: 20px;
    display: none;
  }
  
  .apply-form h2 {
    margin-bottom: 10px;
  }

  .apply-form form {
    display: flex;
    flex-direction: column;
  }
  
  .apply-form label {
    margin-bottom: 10px;
  }